---
import Page from "@/components/Page/PageView.astro"
import Terminal from "@/components/Terminal/Terminal.astro"
import Layout from "@/layouts/Layout.astro"
import { DEFAULT_VIEW_MODE } from "@/constants"

const initTerminalOutput = [
  {
    command: "echo 'Welcome to my portfolio!'",
    output: [
      "Welcome to my interactive terminal portfolio.",
      "Type 'help' to see available commands.",
      "",
    ],
  },
]

const pageContent = `# About Me
Backend Engineer with focus on Infrastructure, Platform Engineering and Security.

Creator of bingie, a popular open-source graphical UI powered by Kodi with 10k+ active users globally. 

## Skills

📌 Backend: Node.js, Fastify, NestJS, Flask, FastAPI, Celery, OWASP, RabbitMQ.
📌 Web Technologies: React, HTML/CSS, WebSockets/SSE, OpenAPI, RESTful APIs.
📌 Databases: PostgreSQL, MySQL, Microsoft SQL Server, MongoDB, Redis.
📌 Platform Engineering: Linux (debian/rhel), Networking, L4/L7 Proxy (Nginx/Haproxy), Docker, GitHub Actions, Azure.

## Code

\`\`\`bash
$ curl -X POST https://blog.oren.sh
{
  "status": 200,
  "message": "Welcome back to my Blog!"
}
\`\`\`

> I 🤍 building functional stuff WITH and FOR people. 

# Projects

- [BINGIE](https://example.com) - bringing to Kodi's ecosystem a full-blown Netflix-like experience,
such that your friends won't be able to tell which is which.

### You can find me on:

- [LinkedIn](https://linkedin.com/in/oren-shomrai)
- [GitHub](https://github.com/cartmandos)`
---

<Layout title="Terminal Portfolio">
  <main>
    <Page content={pageContent} title="About" initialMode={DEFAULT_VIEW_MODE} />
    <Terminal initialOutput={initTerminalOutput} />
  </main>
</Layout>

